---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -3
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<[a-z_]+>$'
    Priority:        1
  - Regex:           '^<.*\.h(pp)?>$'
    Priority:        2
  - Regex:           '^"ftx/'
    Priority:        4
  - Regex:           '.*'
    Priority:        3
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
Standard: c++20
